# This is an example, be sure to create a copy of this and rename it to just config.js

config = {
    auth: {
        okta : {
            domain: "https://something.okta.com", // See https://developer.okta.com/docs/guides/find-your-domain/overview/
            clientId: "randomalphaneumericstring", // See https://developer.okta.com/docs/guides/find-your-app-credentials/overview/
            clientSecret: "randomalphaneumericstring", // See https://developer.okta.com/docs/guides/find-your-app-credentials/overview/
            clientToken: "randomalphaneumericstring" // See https://developer.okta.com/docs/guides/create-an-api-token/create-the-token/
        }
    }
}

module.exports = config;
